ENVIRONMENT=development
VITE_BASE_PATH=drawing-study
MONGO_URL=
DATABASE=
COLLECTION=
VITE_COMPLETION_CODE=
VITE_SCREENED_OUT_CODE=
SONA_BASE_URL=https://ucsd.sona-systems.com/webstudy_credit.aspx
SONA_EXPERIMENT_ID=
SONA_CREDIT_TOKEN=
